{
    "env": {
      "browser": true,
      "es6": true,
      "commonjs": true,
      "node": true
    },
    "extends": [ "plugin:prettier/recommended", "prettier/@typescript-eslint","plugin:@typescript-eslint/recommended" ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2018,
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "module"
    },
    "project": "tsconfig.json",
    "plugins": ["react", "import", "@typescript-eslint"],
    "rules": {
      "react/react-in-jsx-scope": 0,
      "no-console": ["error", { "allow": ["warn", "error"] }],
      // "import/order": [
      //   "error",
      //   {
      //     "groups": ["builtin", "external", "internal"],
      //        "pathGroups": [
      //       {
      //         "pattern": "react",
      //         "group": "external",
      //         "position": "before"
      //       }
      //     ],
      //     "pathGroupsExcludedImportTypes": ["react"],
      //     "newlines-between": "ignore",
      //     "alphabetize": {
      //       "order": "desc",
      //       "caseInsensitive": true
      //     },
      //   }
      // ]
    },
  //   "settings": {
  //     "import/resolver": {
  //       "node": {
  //         "extensions": [".ts", ".tsx"],
  //         "moduleDirectory": [
  //           "node_modules",
  //           "src/"
  //         ]
  //       },
  //       "typescript": {
  //         "alwaysTryTypes": true
  //       }
  //     },
  //     "react": {
  //       "version": "detect"
  //     }
  //   }
  }
  