{
    "env": {
      "browser": true,
      "es6": true,
      "commonjs": true,
      "node": true
    },
    "extends": [ "plugin:prettier/recommended", "plugin:react/recommended"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "module"
    },
    "plugins": ["react", "import", "@typescript-eslint"],
    "rules": {
      "react/react-in-jsx-scope": 0,
      "no-console": ["warn", { "allow": ["warn", "error"] }],
      // "import/order": [
      //   "error",
      //   {
      //     "groups": ["builtin", "external", "internal"],
      //        "pathGroups": [
      //       {
      //         "pattern": "react",s
      //         "group": "external",
      //         "position": "before"
      //       }
      //     ],
      //     "pathGroupsExcludedImportTypes": ["react"],
      //     "newlines-between": "ignore",
      //     "alphabetize": {
      //       "order": "desc",
      //       "caseInsensitive": true
      //     },
      //   }
      // ]
    }
  }
  